<section
  class="flex flex-col justify-center items-center w-full h-150 py-16 bg-white"
>
  <div
    class="flex flex-col justify-center items-center h-full w-full max-w-7xl mx-auto px-5 sm:px-8 lg:px-12 gap-4 bg-[#633F97] rounded-lg relative md:max-lg:mt-20! z-3 bg-no-repeat bg-position-[center_center] bg-cover bg-fixed sm:max-md:w-auto sm:max-md:bg-scroll xsm:max-sm:w-auto xsm:max-sm:bg-scroll bg-[url('../../assets/images/hero-1.jpg')]"
  >
    <h1 class="text-6xl font-bold text-white pt-10">
      Starting with Martex is easy,
    </h1>
    <h1 class="text-6xl font-bold text-white">fast and free</h1>
    <p
      class="text-2xl text-white text-white/90! dark:text-white/90!"
      style="color: rgba(255, 255, 255, 0.9) !important;"
    >
      It only takes a few clicks to get started
    </p>
    <button
      class="btn-cta-free px-6 py-2 text-xl rounded-lg font-bold text-white border-2 transition-colors cursor-pointer"
      style="background-color: var(--color-brand-pink, #F74780); border-color: var(--color-brand-pink, #F74780);"
    >
      Get started - it's free
    </button>
    <p
      class="text-white text-white/85! dark:text-white/85! text-lg pb-10"
      style="color: rgba(255, 255, 255, 0.85) !important;"
    >
      ✓ Free for 14 days, no credit card required.
    </p>
  </div>
</section>
