<!-- Section 5 placeholder -->
<section id="section-5-content" class="hidden"></section>
<section
  id="features-5"
  class="pt--100 pt-25 lg:max-xl:pt-20 md:max-lg:pt-17.5 features-section division"
>
  <div class="container">
    <!-- SECTION TITLE -->
    <div class="flex flex-wrap mx-3 justify-center">
      <div
        class="md:w-10/12 lg:max-xl:w-9/12 xl:w-9/12 w-full flex-[0_0_auto] px-3 max-w-full"
      >
        <div
          class="section-title mb--70 xl:mb-17.5! lg:max-xl:mb-15! md:max-lg:mb-12.5! text-center!"
        >
          <!-- Title -->
          <h2
            class="s-50 w--700 xl:text-6xl lg:max-xl:text-6xl md:max-lg:text-4xl sm:max-md:text-2xl! xsm:max-sm:text-xl! font-bold! lg:max-xl:mb-5! md:max-lg:mb-3.75! sm:max-md:mb-5! xsm:max-sm:mb-3.75! xl:mb-6.5! xl:leading-tight! font-Jakarta sm:max-md:leading-[1.35]! xsm:max-sm:leading-[1.35]! tracking-[-0.5px]! text-[#353F4F]"
          >
            Reach your audience through social media marketing
          </h2>
          <!-- Text -->
          <p
            class="s-21 color--grey xl:text-xl xl:mt-4.5! mb-0! lg:max-xl:mt-3.75! lg:max-xl:text-xl! md:max-lg:text-lg! md:max-lg:mt-3! sm:max-md:text-base! sm:max-md:mt-3! xsm:max-sm:text-sm! xsm:max-sm:mt-3! xsm:max-sm:px-[3%] xsm:max-sm:py-0 text-[#757575]"
          >
            Ligula risus auctor tempus magna feugiat lacinia.
          </p>
        </div>
      </div>
    </div>
    <!-- FEATURES-5 WRAPPER -->
    <div class="fbox-wrapper text-center!">
      <div class="flex flex-wrap mx-3 items-center">
        <!-- FEATURE BOX #1 -->
        <div
          class="xl:w-6/12 lg:max-xl:w-6/12 md:max-lg:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full"
        >
          <div
            class="fbox-5 fb-1 gr--smoke rounded-2xl wow fadeInUp p-15 md:max-lg:px-6.25 md:max-lg:py-8.75 sm:max-md:pt-12.5 sm:max-md:pb-11.25! sm:max-md:px-12.5! xsm:max-sm:pt-11.25 xsm:max-sm:pb-10! xsm:max-sm:px-6.25"
            style="visibility: visible; animation-name: fadeInUp"
          >
            <!-- Text -->
            <div class="fbox-txt order-last order-md-2">
              <h5
                class="s-26 w--700 xl:text-3xl! lg:max-xl:text-3xl! md:max-lg:text-2xl! sm:max-md:text-xl! xsm:max-sm:text-xl! font-bold! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]! text-[#353F4F]"
              >
                Marketing Integrations
              </h5>
              <p
                class="mb-0! xl:text-xl! lg:max-xl:text-xl! md:max-lg:text-lg! sm:max-md:text-base! xsm:max-sm:text-sm! text-[#757575]"
              >
                Aliquam a augue suscipit luctus diam neque purus ipsum neque and
                dolor primis libero
              </p>
            </div>
            <!-- Image -->
            <div
              class="fbox-5-img order-first order-md-2 mt--40 mt-10 xl:mb-0! mx-[5%] lg:max-xl:mt-8.75! lg:max-xl:mb-0! lg:max-xl:mx-[6%] md:max-lg:mt-7.5! md:max-lg:mb-0! md:max-lg:mx-[6%] sm:max-md:mt-0! sm:max-md:mb-7.5! sm:max-md:mx-[10%] xsm:max-sm:mt-0! xsm:max-sm:mb-7.5! xsm:max-sm:mx-[9%]"
            >
              <img
                class="img-fluid light-theme-img"
                src="../../assets/images/f_06.png"
                alt="feature-image"
              />
              <img
                class="img-fluid dark-theme-img hidden absolute"
                src="../../assets/images/f_06_dark.png"
                alt="feature-image"
              />
            </div>
          </div>
        </div>
        <!-- END FEATURE BOX #1 -->
        <!-- FEATURE BOX #2 -->
        <div
          class="xl:w-6/12 lg:max-xl:w-6/12 md:max-lg:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full"
        >
          <div
            class="fbox-5 fb-2 gr--smoke rounded-2xl wow fadeInUp p-15 md:max-lg:px-6.25 md:max-lg:py-8.75 sm:max-md:pt-12.5 sm:max-md:pb-11.25! sm:max-md:px-12.5! xsm:max-sm:pt-11.25 xsm:max-sm:pb-10! xsm:max-sm:px-6.25"
            style="visibility: visible; animation-name: fadeInUp"
          >
            <!-- Image -->
            <div
              class="fbox-5-img mt-0! xl:mb-10! mx-[5%] lg:max-xl:mt-0! lg:max-xl:mb-7.5! lg:max-xl:mx-[6%] md:max-lg:mt-0! md:max-lg:mb-6.25! md:max-lg:mx-[6%] sm:max-md:mt-0! sm:max-md:mb-7.5! sm:max-md:mx-[10%] xsm:max-sm:mt-0! xsm:max-sm:mb-7.5! xsm:max-sm:mx-[9%]"
            >
              <img
                class="img-fluid light-theme-img"
                src="../../assets/images/f_04.png"
                alt="feature-image"
              />
              <img
                class="img-fluid dark-theme-img hidden absolute"
                src="../../assets/images/f_04_dark.png"
                alt="feature-image"
              />
            </div>
            <!-- Text -->
            <div class="fbox-txt">
              <h5
                class="s-26 w--700 xl:text-3xl! lg:max-xl:text-3xl! md:max-lg:text-2xl! sm:max-md:text-xl! xsm:max-sm:text-xl! font-bold! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]! text-[#353F4F]"
              >
                Productivity Focused
              </h5>
              <p
                class="mb-0! xl:text-xl! lg:max-xl:text-xl! md:max-lg:text-lg! sm:max-md:text-base! xsm:max-sm:text-sm! text-[#757575]"
              >
                Aliquam a augue suscipit luctus diam neque purus ipsum neque and
                dolor primis libero
              </p>
            </div>
          </div>
        </div>
        <!-- END FEATURE BOX #2 -->
      </div>
      <!-- End row -->
    </div>
    <!-- END FEATURES-5 WRAPPER -->
  </div>
  <!-- End container -->
</section>
