<section
  class="py--100 py-25 lg:max-xl:py-20 md:max-lg:py-17.5 ct-02 content-section division"
>
  <div class="container">
    <!-- SECTION CONTENT (ROW) -->
    <div class="flex flex-wrap -mx-3 items-center">
      <!-- IMAGE BLOCK -->
      <div
        class="xl:w-6/12 lg:max-xl:w-6/12 md:max-lg:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full"
      >
        <div
          class="img-block text-center! left-column wow fadeInRight mr-7.5 lg:max-xl:mr-1.25 md:max-lg:mr-0 sm:max-md:mx-[3%] xsm:max-sm:m-[0_2%_35px]"
          style="visibility: visible; animation-name: fadeInRight"
        >
          <img
            class="img-fluid"
            src="../../assets/images/img-02.png"
            alt="content-image"
          />
        </div>
      </div>
      <!-- TEXT BLOCK -->
      <div
        class="xl:w-6/12 lg:max-xl:w-6/12 md:max-lg:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full"
      >
        <div
          class="txt-block right-column wow fadeInLeft"
          style="visibility: visible; animation-name: fadeInLeft"
        >
          <!-- Section ID -->
          <span
            class="section-id block text-[0.85rem]! leading-none tracking-[0.5px]! uppercase xl:mb-8.75! lg:max-xl:mb-7.5! md:max-lg:mb-6.25! sm:max-md:mb-6.25! font-Jakarta text-[#757575] font-bold"
            >Easy Integration</span
          >
          <!-- Title -->
          <h2
            class="s-46 w--700 xl:text-[2.875rem]! lg:max-xl:text-[2.625rem]! md:max-lg:text-[2.35294rem]! sm:max-md:text-[2.25rem]! xsm:max-sm:text-[1.8125rem]! font-bold! lg:max-xl:mb-5! md:max-lg:mb-3.75! sm:max-md:mb-5! xsm:max-sm:mb-3.75! xl:mb-6.5! leading-tight font-Jakarta sm:max-md:leading-[1.35]! xsm:max-sm:leading-[1.35]! text-[#353F4F]"
          >
            Plug your essential tools in few clicks
          </h2>
          <!-- List -->
          <ul class="simple-list">
            <li class="list-item">
              <p>
                Cursus purus suscipit vitae cubilia magnis volute egestas vitae
                sapien turpis sodales magna undo aoreet primis
              </p>
            </li>
            <li class="list-item">
              <p class="mb-0!">
                Tempor sapien quaerat an ipsum laoreet purus and sapien dolor an
                ultrice ipsum aliquam undo congue dolor cursus purus congue and
                ipsum purus sapien a blandit
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- END TEXT BLOCK -->
    </div>
    <!-- END SECTION CONTENT (ROW) -->
  </div>
  <!-- End container -->
</section>
