<section
  class="py-25 lg:max-xl:pt-20 md:max-lg:pt-17.5 ct-01 content-section division scroll-animate"
>
  <div class="container">
    <!-- SECTION CONTENT (ROW) -->
    <div class="flex flex-wrap -mx-3 items-center">
      <!-- TEXT BLOCK -->
      <div
        class="md:w-6/12 lg:max-xl:w-6/12 xl:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full order-last md:order-2"
      >
        <div
          class="txt-block left-column wow fadeInRight"
          style="visibility: visible; animation-name: fadeInRight"
        >
          <!-- TEXT BOX -->
          <div class="txt-box mb-5! md:max-lg:mb-1.25! last:mb-0!">
            <!-- Title -->
            <h5
              class="s-24 xl:text-3xl! lg:max-xl:text-[1.375rem]! md:max-lg:text-[1.470588rem]! sm:max-md:text-[1.625rem]! xsm:max-sm:text-[1.4375rem]! font-bold! xl:mb-5! lg:max-xl:mb-4.5! md:max-lg:mb-4.5! sm:max-md:mb-4.5! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]! text-[#353F4F]"
            >
              Solution that grows with you
            </h5>
            <!-- Text -->
            <p class="text-xl text-[#757575]">
              Sodales tempor sapien quaerat ipsum undo congue laoreet turpis
              neque auctor turpis vitae dolor luctus placerat magna and ligula
              cursus purus vitae purus an ipsum suscipit
            </p>
          </div>
          <!-- END TEXT BOX -->
          <!-- TEXT BOX -->
          <div class="txt-box mb-0!">
            <!-- Title -->
            <h5
              class="s-24 xl:text-3xl! lg:max-xl:text-[1.375rem]! md:max-lg:text-[1.470588rem]! sm:max-md:text-[1.625rem]! xsm:max-sm:text-[1.4375rem]! font-bold! xl:mb-5! lg:max-xl:mb-4.5! md:max-lg:mb-4.5! sm:max-md:mb-4.5! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]! text-[#353F4F]"
            >
              Connect your data sources
            </h5>
            <!-- Text -->
            <p class="text-xl text-[#757575]">
              Tempor sapien sodales quaerat ipsum undo congue laoreet turpis
              neque auctor turpis vitae dolor luctus placerat magna and ligula
              cursus purus an ipsum vitae suscipit purus
            </p>
            <!-- List -->
            <ul class="simple-list mt-5">
              <li class="list-item">
                <p>
                  Tempor sapien quaerat an ipsum laoreet purus and sapien dolor
                  an ultrice ipsum aliquam undo congue dolor cursus
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0!">
                  Cursus purus suscipit vitae cubilia magnis volute egestas
                  vitae sapien turpis ultrice auctor congue magna placerat
                </p>
              </li>
            </ul>
          </div>
          <!-- END TEXT BOX -->
        </div>
      </div>
      <!-- END TEXT BLOCK -->
      <!-- IMAGE BLOCK -->
      <div
        class="md:w-6/12 lg:max-xl:w-6/12 xl:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full order-first md:order-2"
      >
        <div
          class="img-block text-center! right-column wow fadeInLeft ml-7.5 lg:max-xl:ml-1.25 md:max-lg:ml-0 sm:max-md:mx-[3%]! xsm:max-sm:m-[0_2%_35px]!"
          style="visibility: visible; animation-name: fadeInLeft"
        >
          <img
            class="img-fluid"
            src="./assets/images/img-06.png"
            alt="content-image"
          />
        </div>
      </div>
    </div>
    <!-- END SECTION CONTENT (ROW) -->
  </div>
  <!-- End container -->
</section>
