<section
  id="lnk-2"
  class="pt--100 pt-25 lg:max-xl:pt-20 md:max-lg:pt-17.5 ct-02 content-section division"
>
  <div class="container">
    <!-- SECTION CONTENT (ROW) -->
    <div class="flex flex-wrap -mx-3 items-center">
      <!-- IMAGE BLOCK -->
      <div
        class="xl:w-6/12 lg:max-xl:w-6/12 md:max-lg:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full"
      >
        <div
          class="img-block text-center! left-column wow fadeInRight mr-7.5 lg:max-xl:mr-1.25 md:max-lg:mr-0 sm:max-md:mx-[3%] xsm:max-sm:m-[0_2%_35px]"
          style="visibility: visible; animation-name: fadeInRight"
        >
          <img
            class="img-fluid"
            src="../../assets/images/img-03.png"
            alt="content-image"
          />
        </div>
      </div>
      <!-- TEXT BLOCK -->
      <div
        class="xl:w-6/12 lg:max-xl:w-6/12 md:max-lg:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full"
      >
        <div
          class="txt-block right-column wow fadeInLeft"
          style="visibility: visible; animation-name: fadeInLeft"
        >
          <!-- TEXT BOX -->
          <div class="txt-box mb-5! md:max-lg:mb-1.25! last:mb-0!">
            <!-- Title -->
            <h5
              class="s-24 w--700 xl:text-3xl! lg:max-xl:text-3xl! md:max-lg:text-2xl! sm:max-md:text-xl! xsm:max-sm:text-xl! font-bold! xl:mb-5! lg:max-xl:mb-4.5! md:max-lg:mb-4.5! sm:max-md:mb-4.5! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]! text-[#353F4F]"
            >
              The smarter way to work
            </h5>
            <!-- Text -->
            <p
              class="xl:text-xl lg:text-xl md:text-lg sm:text-lg text-[#757575]"
            >
              Sodales tempor sapien quaerat ipsum undo congue laoreet turpis
              neque auctor turpis vitae dolor luctus placerat magna and ligula
              cursus purus vitae purus an ipsum suscipit
            </p>
          </div>
          <!-- END TEXT BOX -->
          <!-- TEXT BOX -->
          <div class="txt-box mb-0!">
            <!-- Title -->
            <h5
              class="s-24 w--700 xl:text-3xl! lg:max-xl:text-3xl! md:max-lg:text-2xl! sm:max-md:text-xl! xsm:max-sm:text-xl! font-bold! xl:mb-5! lg:max-xl:mb-4.5! md:max-lg:mb-4.5! sm:max-md:mb-4.5! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]! text-[#353F4F]"
            >
              Full access to all features
            </h5>
            <!-- List -->
            <ul class="simple-list">
              <li class="list-item">
                <p>
                  Cursus purus suscipit vitae cubilia magnis volute egestas
                  vitae sapien turpis sodales magna undo aoreet primis
                </p>
              </li>
              <li class="list-item">
                <p class="mb-0!">
                  Tempor sapien quaerat an ipsum laoreet purus and sapien dolor
                  an ultrice ipsum aliquam undo congue dolor cursus purus congue
                  and ipsum purus sapien a blandit
                </p>
              </li>
            </ul>
            <!-- Button -->
            <a
              href="#features-2"
              class="inline-block border-2 rounded-md bg-white border-black px-5 py-2 mt-5 text-[#353F4F] hover:border-[#E73971] hover:bg-[#E73971] hover:text-white transition-all duration-300 ease-in-out xl:text-xl lg:max-xl:text-xl md:max-lg:text-lg sm:max-md:text-base xsm:max-sm:text-sm font-bold"
            >
              What's possible?
            </a>
          </div>
          <!-- END TEXT BOX -->
        </div>
      </div>
      <!-- END TEXT BLOCK -->
    </div>
    <!-- END SECTION CONTENT (ROW) -->
  </div>
  <!-- End container -->
</section>
