<section
  class="pt--100 pt-25 lg:max-xl:pt-20 md:max-lg:pt-17.5 ct-01 content-section division scroll-animate"
>
  <div class="container">
    <!-- SECTION CONTENT (ROW) -->
    <div class="flex flex-wrap -mx-3 items-center">
      <!-- TEXT BLOCK -->
      <div
        class="md:w-6/12 lg:max-xl:w-6/12 xl:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full order-last order-md-2 md:max-lg:order-2 lg:max-xl:order-2 xl:order-2"
      >
        <div
          class="txt-block left-column wow fadeInRight"
          style="visibility: visible; animation-name: fadeInRight"
        >
          <!-- Section ID -->
          <span
            class="section-id block font-bold uppercase mb-4 sm:mb-6 font-Jakarta text-[#71757D]"
            >Productivity Focused</span
          >
          <!-- Title -->
          <h2
            class="s-46 font-bold mb-4 sm:mb-5 lg:mb-6 leading-tight font-Jakarta text-[#353F4F]"
          >
            Achieve more with better workflows
          </h2>
          <!-- Text -->
          <p
            class="text-[#71757D] text-base sm:text-lg leading-relaxed pb-4"
          >
            Sodales tempor sapien quaerat ipsum undo congue laoreet turpis neque
            auctor turpis vitae dolor luctus placerat magna and ligula cursus
            purus vitae purus an ipsum suscipit
          </p>
          <!-- CONTENT BOX #1 -->
          <div
            class="cbox-1 ico-15 flex relative items-start justify-start [flex-flow:row_wrap] group gap-3"
          >
            <div class="ico-wrap color--theme shrink-0">
              <div class="cbox-1-ico">
                <span class="text-[#EF2853] font-bold text-xl leading-none"
                  >✓</span
                >
              </div>
            </div>
            <div class="cbox-1-txt overflow-hidden flex-1 max-w-full">
              <p
                class="xl:mb-2! lg:max-xl:mb-1.25! md:max-lg:mb-1.25! xsm:max-sm:mb-1.25! text-[#71757D] xl:text-lg md:text-base sm:text-base xsm:text-sm pb-2"
              >
                Magna dolor luctus at egestas sapien
              </p>
            </div>
          </div>
          <!-- CONTENT BOX #2 -->
          <div
            class="cbox-1 ico-15 flex relative items-start justify-start [flex-flow:row_wrap] group gap-3"
          >
            <div class="ico-wrap color--theme shrink-0">
              <div class="cbox-1-ico">
                <span class="text-[#EF2853] font-bold text-xl leading-none"
                  >✓</span
                >
              </div>
            </div>
            <div class="cbox-1-txt overflow-hidden flex-1 max-w-full">
              <p
                class="xl:mb-2! lg:max-xl:mb-1.25! md:max-lg:mb-1.25! xsm:max-sm:mb-1.25! text-[#71757D] xl:text-lg md:text-base sm:text-base xsm:text-sm pb-2"
              >
                Cursus purus suscipit vitae cubilia magnis volute egestas vitae
                sapien turpis ultrice auctor congue varius magnis
              </p>
            </div>
          </div>
          <!-- CONTENT BOX #3 -->
          <div
            class="cbox-1 ico-15 flex relative items-start justify-start [flex-flow:row_wrap] group gap-3"
          >
            <div class="ico-wrap color--theme shrink-0">
              <div class="cbox-1-ico">
                <span class="text-[#EF2853] font-bold text-xl leading-none"
                  >✓
                </span>
              </div>
            </div>
            <div class="cbox-1-txt overflow-hidden flex-1 max-w-full">
              <p
                class="mb-0! text-[#71757D] xl:text-lg md:text-base sm:text-base xsm:text-sm"
              >
                Volute turpis dolores and sagittis congue
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END TEXT BLOCK -->
      <!-- IMAGE BLOCK -->
      <div
        class="md:w-6/12 lg:max-xl:w-6/12 xl:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full order-first order-md-2 md:max-lg:order-2 lg:max-xl:order-2 xl:order-2"
      >
        <div
          class="img-block text-center! right-column wow fadeInLeft ml-7.5 lg:max-xl:ml-1.25 md:max-lg:ml-0 sm:max-md:mx-[3%]! xsm:max-sm:m-[0_2%_35px]!"
          style="visibility: visible; animation-name: fadeInLeft"
        >
          <img
            class="img-fluid"
            src="../../assets/images/img-13.png"
            alt="content-image"
          />
        </div>
      </div>
    </div>
    <!-- END SECTION CONTENT (ROW) -->
  </div>
  <!-- End container -->
</section>
