<section
  id="faqs-3"
  class="pt-25 lg:max-xl:pt-20 md:max-lg:pt-17.5 faqs-section"
>
  <div class="container">
    <!-- SECTION TITLE -->
    <div class="flex flex-wrap -mx-3 justify-center">
      <div
        class="md:w-10/12 lg:max-xl:w-9/12 xl:w-9/12 w-full flex-[0_0_auto] px-3 max-w-full"
      >
        <div
          class="section-title text-center! xl:mb-17.5! lg:max-xl:mb-13.75! md:max-lg:mb-11.25! sm:max-md:mb-10! xsm:max-sm:mb-10!"
        >
          <!-- Title -->
          <h2
            class="s-50 xl:text-[3.125rem]! lg:max-xl:text-[2.875rem]! md:max-lg:text-[2.64705rem]! sm:max-md:text-[2.375rem]! xsm:max-sm:text-[2.0625rem]! font-bold! tracking-[-0.5px]! leading-tight font-Jakarta sm:max-md:leading-[1.35]! xsm:max-sm:leading-[1.35]! text-[#353F4F]"
          >
            Questions &amp; Answers
          </h2>
          <!-- Text -->
          <p
            class="s-21 text-[#757575] xl:text-[1.3125rem]! xl:mt-4.5! mb-0! lg:max-xl:mt-3.75! lg:max-xl:text-[1.18755rem]! md:max-lg:text-[1.32352rem]! md:max-lg:mt-3! sm:max-md:text-[1.21875rem]! sm:max-md:mt-3! xsm:max-sm:text-[1.1875rem]! xsm:max-sm:mt-3! xsm:max-sm:px-[3%] xsm:max-sm:py-0"
          >
            Ligula risus auctor tempus magna feugiat lacinia.
          </p>
        </div>
      </div>
    </div>
    <!-- FAQs-3 QUESTIONS -->
    <div class="faqs-3-questions">
      <div class="flex flex-wrap -mx-3">
        <!-- QUESTIONS HOLDER -->
        <div
          class="xl:w-6/12 lg:max-xl:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full"
        >
          <div
            class="questions-holder px-2.5 py-0 lg:max-xl:p-0! md:max-lg:p-0!"
          >
            <!-- QUESTION #1 -->
            <div
              class="question mb-8.75! wow fadeInUp text-[#353F4F]"
              style="visibility: visible; animation-name: fadeInUp"
            >
              <!-- Question -->
              <h5
                class="s-22 xl:text-[1.375rem]! lg:max-xl:text-[1.25rem]! md:max-lg:text-[1.397058rem]! sm:max-md:text-[1.4375rem]! xsm:max-sm:text-[1.3125rem]! font-bold! xl:mb-5! lg:max-xl:mb-3.75! md:max-lg:mb-3! sm:max-md:mb-3.75! xsm:max-sm:mb-3.75! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]! text-[#353F4F]"
              >
                <span class="mr-1.25">1.</span> Getting started with Martex
              </h5>
              <!-- Answer -->
              <p class="text-[#757575]">
                Etiam amet mauris suscipit in odio integer congue metus and
                vitae arcu mollis blandit ultrice ligula egestas magna suscipit
                lectus magna suscipit luctus blandit and laoreet
              </p>
            </div>
            <!-- QUESTION #2 -->
            <div
              class="question mb-8.75! wow fadeInUp text-[#353F4F]"
              style="visibility: visible; animation-name: fadeInUp"
            >
              <!-- Question -->
              <h5
                class="s-22 xl:text-[1.375rem]! lg:max-xl:text-[1.25rem]! md:max-lg:text-[1.397058rem]! sm:max-md:text-[1.4375rem]! xsm:max-sm:text-[1.3125rem]! font-bold! xl:mb-5! lg:max-xl:mb-3.75! md:max-lg:mb-3! sm:max-md:mb-3.75! xsm:max-sm:mb-3.75! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]!"
              >
                <span class="mr-1.25">2.</span> What's inside the package?
              </h5>
              <!-- Answer -->
              <p class="text-[#757575]">
                An enim nullam tempor sapien gravida donec ipsum and enim porta
                justo integer at velna vitae auctor integer congue undo magna
                laoreet augue pretium purus pretium ligula
              </p>
            </div>
            <!-- QUESTION #3 -->
            <div
              class="question mb-8.75! wow fadeInUp text-[#353F4F]"
              style="visibility: visible; animation-name: fadeInUp"
            >
              <!-- Question -->
              <h5
                class="s-22 xl:text-[1.375rem]! lg:max-xl:text-[1.25rem]! md:max-lg:text-[1.397058rem]! sm:max-md:text-[1.4375rem]! xsm:max-sm:text-[1.3125rem]! font-bold! xl:mb-5! lg:max-xl:mb-3.75! md:max-lg:mb-3! sm:max-md:mb-3.75! xsm:max-sm:mb-3.75! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]!"
              >
                <span class="mr-1.25">3.</span> How do I choose a plan?
              </h5>
              <!-- Answer -->
              <ul class="simple-list text-[#757575]">
                <li class="list-item">
                  <p>
                    Fringilla risus, luctus mauris orci auctor purus ligula
                    euismod pretium purus pretium rutrum tempor sapien
                  </p>
                </li>
                <li class="list-item">
                  <p>
                    Nemo ipsam egestas volute undo turpis purus lipsum primis
                    aliquam sapien quaerat sodales pretium a purus
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- END QUESTIONS HOLDER -->
        <!-- QUESTIONS WRAPPER -->
        <div
          class="xl:w-6/12 lg:max-xl:w-6/12 w-full flex-[0_0_auto] px-3 max-w-full"
        >
          <div
            class="questions-holder px-2.5 py-0 lg:max-xl:p-0! md:max-lg:p-0!"
          >
            <!-- QUESTION #4 -->
            <div
              class="question mb-8.75! wow fadeInUp text-[#353F4F]"
              style="visibility: visible; animation-name: fadeInUp"
            >
              <!-- Question -->
              <h5
                class="s-22 xl:text-[1.375rem]! lg:max-xl:text-[1.25rem]! md:max-lg:text-[1.397058rem]! sm:max-md:text-[1.4375rem]! xsm:max-sm:text-[1.3125rem]! font-bold! xl:mb-5! lg:max-xl:mb-3.75! md:max-lg:mb-3! sm:max-md:mb-3.75! xsm:max-sm:mb-3.75! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]!"
              >
                <span class="mr-1.25">4.</span> How does Martex handle my
                privacy?
              </h5>
              <!-- Answer -->
              <p class="text-[#757575]">
                Quaerat sodales sapien euismod blandit purus a purus ipsum
                primis in cubilia laoreet augue luctus dolor luctus
              </p>
              <!-- Answer -->
              <p class="text-[#757575]">
                An enim nullam tempor sapien gravida donec congue metus. Vitae
                arcu mollis blandit integer nemo volute velna
              </p>
            </div>
            <!-- QUESTION #5 -->
            <div
              class="question mb-8.75! wow fadeInUp text-[#353F4F]"
              style="visibility: visible; animation-name: fadeInUp"
            >
              <!-- Question -->
              <h5
                class="s-22 xl:text-[1.375rem]! lg:max-xl:text-[1.25rem]! md:max-lg:text-[1.397058rem]! sm:max-md:text-[1.4375rem]! xsm:max-sm:text-[1.3125rem]! font-bold! xl:mb-5! lg:max-xl:mb-3.75! md:max-lg:mb-3! sm:max-md:mb-3.75! xsm:max-sm:mb-3.75! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]!"
              >
                <span class="mr-1.25">5.</span> I have an issue with my account
              </h5>
              <!-- Answer -->
              <p class="text-[#757575]">
                Cubilia laoreet augue egestas and luctus donec curabite diam
                vitae dapibus libero and quisque gravida donec neque blandit
                justo aliquam molestie nunc sapien justo
              </p>
            </div>
            <!-- QUESTION #6 -->
            <div
              class="question mb-8.75! wow fadeInUp text-[#353F4F]"
              style="visibility: visible; animation-name: fadeInUp"
            >
              <!-- Question -->
              <h5
                class="s-22 xl:text-[1.375rem]! lg:max-xl:text-[1.25rem]! md:max-lg:text-[1.397058rem]! sm:max-md:text-[1.4375rem]! xsm:max-sm:text-[1.3125rem]! font-bold! xl:mb-5! lg:max-xl:mb-3.75! md:max-lg:mb-3! sm:max-md:mb-3.75! xsm:max-sm:mb-3.75! leading-[1.35] font-Jakarta sm:max-md:leading-[1.4]! xsm:max-sm:leading-[1.4]!"
              >
                <span class="mr-1.25">6.</span> Can I cancel at anytime?
              </h5>
              <!-- Answer -->
              <p class="text-[#757575]">
                An enim nullam tempor sapien gravida donec ipsum and enim porta
                justo integer at velna vitae auctor integer congue undo magna
                laoreet augue pretium purus pretium ligula
              </p>
            </div>
          </div>
        </div>
        <!-- END QUESTIONS HOLDER -->
      </div>
      <!-- End row -->
    </div>
    <!-- END FAQs-3 QUESTIONS -->
    <!-- MORE QUESTIONS LINK -->
    <div class="flex flex-wrap -mx-3">
      <div class="flex-[0_0_auto] w-full max-w-full px-3">
        <div
          class="more-questions text-center! mt-10 lg:max-xl:mt-7.5! md:max-lg:mt-7.5!"
        >
          <div
            class="more-questions-txt bg-[#F4F4F9] rounded-[100px] inline-block px-11.5 py-5.5 lg:max-xl:px-11 lg:max-xl:py-4.5 md:max-lg:px-10.5 md:max-lg:py-4.5 sm:max-md:px-10.5 sm:max-md:py-4.5 xsm:max-sm:px-9 xsm:max-sm:py-4.5"
          >
            <p
              class="p-lg leading-none mb-0! lg:max-xl:text-[1.125rem]! md:max-lg:text-[1.125rem]! sm:max-md:text-[1.125rem]! xsm:max-sm:text-[1.125rem]!"
            >
              Have any questions?
              <a
                href="contacts.html"
                class="text-[#ff3f7f] font-medium underline! hover:text-[#353f4f] hover:underline!"
                >Get in Touch</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End container -->
</section>
